@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0e1425;
}

body {
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::selection {
  background-color: #233554;
  color: #ccd6f6;
}

.MuiTableRow-head {
  background-color: #ededed !important;
}

.ant-table-body {
  height: 100%;
  overflow-y: auto !important;
}

